@model MakerBook.Models.CategoryModel

@{
    ViewData["Title"] = "Create";
}

<div class="about-heading-content">
    <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Login</span>
                    <span class="section-heading-lower">Access your account</span>
                </h2>
                <p>
                    <form asp-action="Create" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group shadow-textarea">
                            <label asp-for="Description">Description</label>
                            <textarea class="form-control z-depth-1" asp-for="Description" rows="3" placeholder="Write something here..."></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ImageCategory" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="ImageCategory" class="custom-file-input" />
                                
                            </div>
                            <span asp-validation-for="ImageCategory" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary btn-block" /> | 
                            <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Category" role="button">Back to List</a>
                        </div>
                    </form>

                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
