@using MakerBook.ViewModels
@model CategoryViewModel

@{
    ViewData["Title"] = "Edit Category";
}

<div class="about-heading-content">
    <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Edit</span>
                    <span class="section-heading-lower">Category</span>
                </h2>
                <hr />
                <p>
                    <form asp-action="Edit" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CategoryId" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageCategory" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="ImageCategory" class="custom-file-input" />
                            </div>
                            <span asp-validation-for="ImageCategory" class="text-danger"></span>

                        </div>
                        @if (Model.Image != null)
                        {
                            <div class="form-group">

                                <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" width="120" height="120" />
                            </div>
                        }
                        <hr />
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary btn-block" /> |
                            <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Category" role="button">Back to List</a>

                        </div>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
