@model MakerBook.ViewModels.ProfessionalViewModel


@{
    Layout = "_Layout";
    ViewData["Title"] = "Register Professional";
}

<div class="about-heading-content">
    <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Register Professional</span>
                    <span class="section-heading-lower">New Professional</span>
                </h2>
                <hr />
                <div class="row">

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="WebPage" class="control-label"></label>
                            <input asp-for="WebPage" class="form-control" />
                            <span asp-validation-for="WebPage" class="text-danger"></span>
                        </div>

                        <hr />
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary btn-block" /> |
                            <a class="btn btn-secondary btn-block" asp-action="Index">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




