@model UserModel

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hello, @Model.FirstName</a>

<ul class="navbar-nav mx-auto">
    <li class="nav-item px-lg-4">
        <a class="nav-link text-uppercase" asp-area="" asp-controller="Home" asp-action="Index">About us</a>
    </li>
 

    @if (Model.Profile == MakerBook.Enum.ProfileEnum.Professional)
    {
        <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase" asp-area="" asp-controller="Service" asp-action="Index">Service</a>
        </li>
        <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase" asp-area="" asp-controller="ProfessionalProfile" asp-action="ProfessionalProfile">Profile</a>
        </li>
         <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase" asp-area="" asp-controller="ProfessionalProfile" asp-action="Index">Profile view</a>
        </li>
    }

    @if (Model.Profile == MakerBook.Enum.ProfileEnum.Customer)
    {
       <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase" asp-area="" asp-controller="Portfolio" asp-action="Index">Portfolio</a>
        </li>  
         <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase" asp-area="" asp-controller="Order" asp-action="Index">Order</a>
        </li>  
    }

    @if (Model.Profile == MakerBook.Enum.ProfileEnum.Administrator)
    {
        <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
        </li>
         <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a>
        </li>
         <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase" asp-area="" asp-controller="Professional" asp-action="Index">Professional</a>
        </li>
        <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase" asp-area="" asp-controller="User" asp-action="Index">User</a>
        </li>
    }

    <li class="nav-item px-lg-4">
        <a class="nav-link text-uppercase" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
    </li>
</ul>
@*</div>*@