@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>MakerBook</p>
</div>
@* <section class="page-section bg-primary" id="about">*@
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Local people, local services, local talent</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Find people nearby with the skills that you need, make yourself known. Do It Local gives talented people a place to be found.</p>
                        <a class="btn btn-light btn-xl" asp-controller="Portfolio" asp-action="Index">Get Started!</a>
                    </div>
                </div>
            </div>
      @*  </section>*@
