@model LoginModel
@{
    Layout = "_LayoutDefault";
    ViewData["Title"] = "Login";
}
<p>Login</p>

<h1>Index</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
       @TempData["ErrorMessage"].
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["SuccessMessage"]
    </div>
}

<form asp-controller="Login" asp-action="Login" method="post">
    <div class="mb-3">
        <label for="Login" class="form-label">Login</label>
        <input type="email" class="form-control" id="login" asp-for="Login">
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" asp-for="Password">
    </div>
     <p class="mb-4 text-sm mx-auto">
        Forgot your password?
        <a asp-action="RecoverPassword" asp-controller="Login" class="text-primary text-gradient font-weight-bold">Recover my password</a>
    </p>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>