@using MakerBook.ViewModels
@model LoginViewModel
@{
    Layout = "_LayoutDefault";
    ViewData["Title"] = "Login";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"].
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["SuccessMessage"]
    </div>
}
<div class="about-heading-content">
    <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Login</span>
                    <span class="section-heading-lower">Access your account</span>
                </h2>
                <p>

                    <form asp-controller="Login" asp-action="Login" method="post">
                        <div class="mb-3">
                            <label for="Login" class="form-label">Login</label>
                            <input type="email" class="form-control" id="login" asp-for="Login">
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" asp-for="Password">
                        </div>
                        <p>
                            New to Do It Local? <br />
                            <a asp-action="RegisterCustomer" asp-controller="Login">Click here</a> to register as a Customer.
                            <br />
                            OR
                            <br /><a asp-action="RegisterProfessional" asp-controller="Login">Click here</a> to register as a Maker.
                        </p>
                        <p class="mb-4 text-sm mx-auto">
                            Forgot your password?
                            <a asp-action="RecoverPassword" asp-controller="Login" class="text-primary text-gradient font-weight-bold">Recover my password</a>
                        </p>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>


