@model RecoverPasswordViewModel
@{
    Layout = "_LayoutDefault";
    ViewData["Title"] = "Recover Password";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"].
    </div>
}

<div class="about-heading-content">
    <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Recover Password</span>
                    <span class="section-heading-lower">Forgot your password?</span>
                </h2>
                <p>
                    <form asp-controller="Login" asp-action="SendLinkToResetPassword" method="post">
                        <div class="mb-3">
                            <label for="Login" class="form-label">Login</label>
                            <input type="text" class="form-control" id="login" asp-for="Login">
                        </div>
                        <div class="mb-3">
                            <label for="Email" class="form-label">E-mail</label>
                            <input type="text" class="form-control" id="email" asp-for="Email">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Recover Password</button>
                        <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Login" role="button">Back to Login</a>

                    </form>

                </p>
            </div>
        </div>
    </div>
</div>