@{
    Layout = "_LayoutDefault";
    ViewData["Title"] = "Restricted Page";
}

<p>You are not allowed to access this functionality, <a asp-controller="Home" asp-action="Index">click here to go back home.</a></p>
